<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="HttpReqeustSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <HttpReqeustSender.Properties.Settings>
            <setting name="ServerUrl" serializeAs="String">
                <value>https://10.200.52.39/httptracking/tracking/settracking.aspx</value>
            </setting>
        </HttpReqeustSender.Properties.Settings>
    </userSettings>
</configuration>
